body
{
    background-color: aqua;
}

#contenedor
{
    display: flex;
    margin: 0 auto;
    text-align: center;
    padding: 50px 100px 50px;
    justify-content: center;
    height: 100%;
    width: 700px;
    flex-direction: column;
    border: 10px white;
    background-color: aliceblue;
}